body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper {
    background: rgba(112, 128, 144, 0.9);
    padding: 40px 35px;
    width: 380px;
    border-radius: 13px;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.25);
    backdrop-filter: blur(8px);
    color: white;
    text-align: center;
}

.login-wrapper img {
    width: 70px;
    opacity: 0.9;
    margin-bottom: 20px;
}

.login-wrapper h2 {
    margin-bottom: 25px;
    font-weight: 500;
}

.form-group {
    text-align: left;
    color: #d1d5db;
    font-size: 14px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #334155;
    background: #1e293b;
    color: white;
    font-size: 15px;
}

input:focus {
    border-color: #3b82f6;
    outline: none;
}

.btn-login {
    width: 100%;
    background: #3b82f6;
    padding: 12px;
    border-radius: 8px;
    margin-top: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.btn-login:hover {
    background: #2563eb;
}

.extra-links {
    margin-top: 15px;
    font-size: 13px;
    color: #9ca3af;
}

.extra-links a {
    color: #60a5fa;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}
